
.order_row{
    display: grid;
    background-color: var(--main-bg-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 100%;
    grid-template-columns: 10% 12% 14% 8% 36% 20%;
    align-items: center;
    justify-content: center;
    /* margin: 1rem 0; */
}

.order_row div {
    padding: 5px 10px;
}

.order_date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_code {
    display: flex;
    justify-content: center;
}

.order_platform {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.order_status {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

.order_status_color_red{
    background-color: red;
}

.order_status_color_black{
    background-color: black;
    color: white;
}

.order_status_color_yellow{
    background-color: yellow;
    color: black;
}

.order_status_color_green{
    background-color: green;
    color: white;
}

.order_link a{
    text-decoration: none;
    color: var(--icons-color);
}

.order_note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.order_note textarea {
    background-color: var(--main-bg-color);
    color: var(--icons-color);
}


.order_note_icon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
}

.icon_platform {
  width: 40px;
}
