.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
}

.orders_table {
    width: 100%;
}

.orders_header {
    height: 60px;
    background-color: var(--main-bg-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-columns: 10% 12% 14% 8% 36% 20%;
    /* gap: 1rem; */
    align-items: center;
}


.orders_header span{
    padding: 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--icons-color);
    
    text-align: center;
}