.profile {
    width: 80%;
    display: flex;
}
.store_info {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

.store_info_location {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}

.province {
    position: relative;
}

.list_provinces {
    /* position: absolute; */
    z-index: 10;
    max-height: 12rem;
    width: 100%;
    overflow-y: auto;
    box-shadow: var(--box-shadow);
}

.list_provinces ul {
    display: block;
    padding-left: 7rem;
}