.header {
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex;
  background-color: #686868;
  justify-content: space-between;
}

.logo {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 1rem;
}

.navbar {
    /* min-height: 70px;  */
    width: 60%; 
    /* display: flex; 
    align-items:center; */
    padding: 0 10px ;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

li {
  list-style-type: none;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}
.navbar .logo {
  font-weight: 686;
}
